
body {
  font-family: Arial,sans-serif;
  margin: 0;
  padding-bottom: 40px;
  background-color: #fff;
  font-size: 13px;
}
.title  {
  font-size: 70px;
  font-weight: 400;
  line-height: 78px;
  margin: 0;
  text-align: center;
  color: #515076;
}

.products-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.card {
  background-color: rgb(83, 167, 75);
  border: 1px solid #515076;
  padding: 25px;
  margin-bottom: 30px;
  width: 340px;
}

.card img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.category {
  color: #2e49c2;
  font-size: 13px;
}

.name-products {
  font-size: 20px;
  color: #515076;
  margin: 10px 0;
}

.description {
  font-size: 13px;
  color: #515076;
  margin-bottom: 15px;
}

.compound {
  font-size: 13px;
  font-weight: bold;
  color: #515076;
}

.price-label {
  font-size: 14px;
  color: #515076;
}

.price-value {
  font-size: 18px;
  font-weight: bold;
  color: #515076;
}


.button {
  background-color: #515076;
  color: #ffffff;
  padding: 10px;
  margin-top: 15px;
  border: none;
  width: 100%;
  font-size: 14px;
}